<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="Spring-Datasource.xml" />
	<import resource="Spring-Kitap.xml" />
	<import resource="Spring-Login.xml"/>
	<bean id="authDao" class="Dao.JdbcAuthorDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="categoryDao" class="Dao.JdbcCategoryDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="addressDao" class="Dao.JdbcAddressDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>